<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browserName" value="chrome" />
  <parameter name="ApplicationType" value="client" />
    <classes>
      <class name="com.awisdr.testcases.VerifyBrandAssetsManagerFunctionality"/>
       <class name="com.awisdr.testcases.VerifyClientApplicationLoginFunctionality"/>
       <class name="com.awisdr.testcases.VerifyPressReleaseCreationFunctionality"/>
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->